// Primary
$primary-lightest: #faf7ff;
$primary-light: #FF9AD0;
$primary: #5A3E7E;
$primary-dark: #2E2259;

$highlight: #BF2A52;

$red-light: #ffdcdc;
$red: #fd2828;

$orange-light: #ffe2c7;
$orange: #ff8d23;

$yellow: #fff3cd;
$yellow-dark: #856404;

$teal: #d1ecf1;
$teal-dark: #0c5460;

// Whites
$white: #fff;
$primary-white: #8685bd;

// Greys
$grey-100: #f5f5f5;
$grey-200: #eee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$grey-aside: #393856;
$grey-aside-dark: #232238;