// Primary
$primary-light: #DA89B4;
$primary: #7957B2;
$primary-dark: #2E2259;

$highlight: #BF2A52;

$red: #fd2828;
$red-light: #ffdcdc;

// Whites
$white: #fff;
$primary-white: #8685bd;

// Greys
$grey-100: #f5f5f5;
$grey-200: #eee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$grey-aside: #393856;
$grey-aside-dark: #232238;