@import '../reference/index';

$block: 'aside-nav';

.#{$block} {
    $horizontal-spacing: 2rem;

    background-color: $grey-aside-dark;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $aside-width;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: $main-margin-top;
    }
    
    &__main {
        flex: 1;
        margin-top: $main-margin-top;
    }

    &__footer {
        border-top: 1px solid $grey-300;
        display: flex;
        padding: 0.75rem $horizontal-spacing;
    }

    &__heading {
        color: $white;
        font-size: 1.25rem;
        margin: 0;
        padding-left: $horizontal-spacing;
        padding-right: $horizontal-spacing;
    }

    &__list {
        list-style: none;
        margin: 0;
    }

    &__item {
        margin: 0;
    }

    &__link {
        display: block;
        padding: 0.75rem $horizontal-spacing;
        position: relative;

        &:visited {
            color: $primary-white;
        }
        
        @include hover-focus {
            background-color: $grey-aside;
            text-decoration: none;
        }

        svg {
            fill: $primary-white;
            margin-right: 0.75rem;
            vertical-align: top;
        }

        &--active {
            background-color: $grey-aside;
            
            &::before {
                content: '';
            }
            
            &:visited {
                color: $white;
            }

            svg {
                fill: $white;
            }
        }
    }
}
