@import '../reference/index';

$block: 'aside-nav';

.#{$block} {
    $horizontal-spacing: 2rem;

    border-right: 1px solid $grey-300;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $aside-width;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    &__main {
        margin-top: $main-margin-top;
        flex: 1;
    }

    &__footer {
        border-top: 1px solid $grey-300;
        display: flex;
        padding: 0.75rem $horizontal-spacing;
    }

    &__heading {
        color: $primary;
        font-size: 1.25rem;
        margin: 0;
        padding-left: $horizontal-spacing;
        padding-right: $horizontal-spacing;
    }

    &__list {
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;
        margin-top: 1.25rem;
    }

    &__item {
        margin: 0;
    }

    &__link {
        display: block;
        padding: 0.75rem $horizontal-spacing;
        position: relative;
        
        @include hover-focus {
            background-color: $grey-100;
            text-decoration: none;
        }

        &--active {
            background-color: $grey-100;

            &::before {
                border-left: 3px solid $primary;
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                top: 0;
            }
        }

        svg {
            margin-right: 0.75rem;
            vertical-align: top;
        }
    }
}
