@import '../reference/index';

$block: 'nav';

.#{$block} {
	$horizontal-spacing: 2rem;
	background-color: $grey-aside-dark;

	@include media-min(md) {
		bottom: 0;
		left: 0;
		min-width: $aside-width;
		position: fixed;
		top: 0;
	}
	
	&--active {
		.#{$block}__main {
			background: rgba(#000, 0.75);
			left: 0;
			right: 0;
			// z-index: 999;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__main {
		background: rgba(#000, 0);
		bottom: 0;
		flex: 1;
		left: -100%;
		// right: 0;
		position: absolute;
		top: 0;
		z-index: 999;
		transition: all 350ms ease-in-out;

		@include media-min(md) {
			left: 0;
			position: relative;
		}
	}

	&__footer {
		border-top: 1px solid $grey-300;
		display: flex;
		padding: 0.75rem $horizontal-spacing;

		.#{$block}__link {
			padding: 0;

			@include hover-focus {
				background-color: transparent;
			}
		}
	}

	&__heading-wrapper {
		display: flex;
		margin: 1rem;

		@include media-min(md) {
			margin: $main-margin-top $horizontal-spacing;
		}
	}
	
	&__mobile-button {
		@include image-replacement;

		background-color: transparent;
		cursor: pointer;
		display: inline-block;
		margin-right: 1rem;
		padding: 0;

		@include media-min(md) {
			display: none;
			margin-right: 0;
		}

		svg {
			fill: $white;
		}
	}

	&__heading {
		color: $white;
		display: inline-block;
		font-size: 1.25rem;
		margin: 0;
	}

	&__list {
		background-color: $grey-aside-dark;
		height: 100%;
		list-style: none;
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 0;
		width: 15rem;

		@include media-min(md) {
			height: auto;
			width: auto;
		}
	}

	&__item {
		margin: 0;
	}

	&__link {
		color: $white;
		display: block;
		padding: 1rem $horizontal-spacing;
		position: relative;

		&:visited {
			color: $primary-white;
		}
		
		@include hover-focus {
			background-color: $grey-aside;
			text-decoration: none;
		}

		svg {
			fill: $primary-white;
			margin-right: 0.75rem;
			vertical-align: top;
		}

		&--active {
			background-color: $grey-aside;
			
			&::before {
				content: '';
			}
			
			&:visited {
				color: $white;
			}

			svg {
				fill: $white;
			}
		}
	}
}
