@import '../reference/index';

$block: 'table';

.#{$block} {
	$border-radius: 0.25rem;

	table-layout: fixed;
	border-collapse: collapse;
	
	@include media-min(md) {
		margin-left: auto;
		margin-right: auto;
		// width: 80%;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	&__row {
		background-color: $white;
		border-top: 1px solid $grey-200;
		box-sizing: border-box;

		// &:first-child {
		// 	border-top-left-radius: $border-radius;
		// 	border-top-right-radius: $border-radius;
		// }

		// &:last-child {
		// 	border-bottom-left-radius: $border-radius;
		// 	border-bottom-right-radius: $border-radius;
		// }

		&--header {
			font-weight: 600;
			white-space: nowrap;
			text-align: left;
		}

		&--total {
			font-weight: 600;
			// border-bottom-left-radius: 0.25rem;
			// border-bottom-right-radius: 0.25rem;

			// & + .#{$block}__row {
			// 	border-top-left-radius: 0.25rem;
			// 	border-top-right-radius: 0.25rem;
			// 	margin-top: 1rem;
			// }
		}

		&--O {
			background-color: $red-light;
			color: $red;
		}

		&--Q {
			background-color: $orange-light;
			color: $orange;
		}
	}

	&__cell {
		padding: 1rem;
		// width: 10%;

		&:first-child {
			padding-left: 1.5rem;
		}

		&:last-child {
			padding-right: 1.5rem;
		}

		&--lock {
			width: 5%;
			// text-align: center;

			input {
				margin-left: 0.25rem;
			}
		}

		// &--first-name {
		// 	width: 10%;
		// }

		// &--last-name {
		// 	width: 20%;
		// }

		// &--team {
		// 	width: 20%;
		// }

		// &--positions {
		// 	width: 20%;
		// }
	}
}