@import '../reference/index';

$block: 'table';

.#{$block} {
	$border-radius: 0.25rem;

	table-layout: fixed;
	border-collapse: collapse;
	
	@include media-min(md) {
		margin-left: auto;
		margin-right: auto;
		// width: 80%;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	&__row {
		background-color: $white;
		border-top: 1px solid $grey-200;
		box-sizing: border-box;

		&--header {
			font-weight: 600;
			white-space: nowrap;
			text-align: left;
		}

		&--total {
			font-weight: 600;
		}

		&--O {
			background-color: $red-light;
			color: $red;
		}

		&--Q {
			background-color: $orange-light;
			color: $orange;
		}

		&--excluded {
			background-color: $grey-200;
		}
	}

	&__cell {
		padding: 1rem;

		&:first-child {
			padding-left: 1.5rem;
		}

		&:last-child {
			padding-right: 1.5rem;
		}

		&--lock,
		&--exclude {
			width: 2%;

			* {
				vertical-align: middle;
			}

			input {
				margin-left: 0.5rem;
			}
		}

		&--lock {
			padding-left: 0.5rem;
			padding-right: 0.25rem;
		}

		&--exclude {
			padding-right: 0;
			
			button {
				@include reset-button;
				@include image-replacement;
				
				vertical-align: middle;
				
				svg {
					fill: $grey-600;
					transition: all 200ms ease-in-out;
				}

				@include hover-focus {
					svg {
						fill: $grey-700;
					}
				}
			}
		}

		&--stats {
			padding-left: 2rem;
		}
	}
}