@import '../reference/index';

$block: 'table-wrapper';

.#{$block} {
	margin-left: -1rem;
	margin-right: -1rem;
	overflow-x: auto;

	@include media-min(md) {
		margin-left: auto;
		margin-right: auto;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}
