@import '../reference/index';

$block: 'form';

.#{$block} {
	// background-color: $grey-100;
	border-radius: 0.5rem;
	box-sizing: border-box;
	margin-bottom: 1.5rem;
	
	&--white {
		background-color: $white;
		padding: 1.5rem;
	}

	&__row + &__row {
		margin-top: 1rem;
	}
	
	&__col {
		&--inline {
			align-items: baseline;
			display: flex;
		}
	}

	&__heading {
		// @include font-size-16;

		text-transform: uppercase;
		margin-top: 0;
	}

	&__label {
		@include hidden;
	}

	&__input,
	&__textarea {
		width: 100%;
	}

	&__textarea {
		min-height: 10rem;
	}
}
