@import '../reference/index';

$block: 'input-dropdown';

.#{$block} {
	@include input-border;

	background-color: $white;
	display: flex;
	position: relative;

	&--disabled {
		border-color: $grey-800;
	}

	&__input {
		@include input;

		background-color: transparent;
		flex: 1;

		&[disabled] {
			background-color: $grey-200;
			color: $grey-800;
		}
	}

	&__button {
		$width: 2rem;

		@include image-replacement;

		background-color: transparent;
		border: 0;
		padding: 0;
		position: relative;
		width: $width;

		&[disabled] {
			background-color: $grey-400;
		}

		svg {
			fill: $primary;
		}
	}

	&__list {
		background-color: $white;
		border: 1px solid $primary;
		border-top: 0;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		box-sizing: border-box;
		left: -1px;
		list-style: none;
		margin-bottom: 0;
		margin-top: 0;
		max-height: 20rem;
		overflow-x: hidden;
		overflow-y: scroll;
		padding-left: 0;
		position: absolute;
		right: -1px;
		top: calc(100% + 1px);
	}

	&__item {
		border-top: 1px solid $grey-200;
		padding: 0.5rem 1rem;
	}
}
