@import '../reference/index';

body {
    @include default-font;

    background-color: $grey-100;
    color: $grey-800;
    line-height: 1.5;
}

main {
    background-color: $grey-100;
    margin-left: $aside-width;
    padding: $main-margin-top 2rem;
    position: relative;
}

a {
    text-decoration: none;
}