@import '../reference/index';

body {
    @include default-font;

	background-color: $grey-200;
    color: $grey-800;
    line-height: 1.5;
}

main {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	position: relative;

	@include media-min(md) {
		margin-left: $aside-width;
		padding-bottom: $main-margin-top;
		padding-top: $main-margin-top;
	}
}

a {
    text-decoration: none;
}