@import '../reference/index';

body {
    @include default-font;

    background-color: $grey-100;
    color: $grey-800;
    line-height: 1.5;
}

main {
    background-color: $grey-100;
	padding: $main-margin-top 1rem;
	position: relative;
	
	@include media-min(md) {
		margin-left: $aside-width;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

a {
    text-decoration: none;
}